<div id="mostrarCerrarSesion">
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{get('usuario', '')}} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Configuracion</a></li>
                <li><a href="#">Perfil</li>
                <li><a href="#">Administrar</a></li>
                <li class="divider"></li>
                <li><a href="/salir">Cerrar Sesion</a></li>
            </ul>
        </li>
    </ul>
</div>

