<div id="mostrarModal">
    <!-- Modal HTML -->
    <div id="dialog-message" title="Download complete">
        <p>
            <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
            Your files have downloaded successfully into the My Downloads folder.
        </p>
        <p>
            Currently using <b>36% of your storage space</b>.
        </p>
    </div>
    <!-- END Modal HTML -->
</div>

