<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Registro de participantes</title>

    <!-- Iconos::IcoMoon -->
    <!-- cdn::bootstrap -->:w

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->
    <!-- Bootstrap::local -->
    <link href=" /static/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel='stylesheet' href='/static/css/sidebar.css'>
    <link href='http://fonts.googleapis.com/css?family=Hind:700,600,500' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div id="bandera">
            <p id="valorP"> Hola </p>
        </div>

        <div id='wrapper'>
            <div id="divMenuPrincipal">
                <!--Este contenido se carga con Javascript -->
            </div><!--Aqui Finaliza el menu principal -->


            <div id='page-content-wrapper toggled'>
                <div class='container-fluid'>

                    <div class='navbar navbar-inverse navbar-fixed-top'>
                        <div class='container'>
                            <ul class='nav navbar-nav navbar-left'>
                                <li><a href='#menu-toggle' id='menu-toggle'><span class='glyphicon glyphicon-align-justify'></span></a></li>
                            </ul>
                            <div class='collapse navbar-collapse navHeaderCollapse'>
                                <div class="navbar-header">
                                    <a id="menuInicio" class="navbar-brand" href="/">Eventos Hospital Coromoto</a>
                                </div>

                                <!--Aqui se carga el form de inicio de sesion -->
                                <div id="divInicioSesion">
                                    <!--Este codigo se carga con jQuery -->
                                </div>
                                <!--Fin del Form de inicio de Sesion  -->
                            </div>
                        </div>
                    </div>


                    <!--Aqui inicia el jumbotron -->
                    <div id="divJumbotron">
                    </div><!--Aqui Finaliza el Jumbotron -->

                    <div id="divPiePagina">
                        <!--Este contenido de carga con javascript -->
                    </div> <!--Aqui Finaliza el pie de pagina -->

                </div> <!-- End container-fluid -->
            </div> <!-- End of content wrapper -->
        </div> <!-- End Wrapper -->



    </body>
    <!-- cdn::jQuery -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> -->
    <!-- local::jquery -->
    <script src='/static/js/jquery-1.11.3.min.js'></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

    <script src="/static/js/bootstrap.min.js"></script>
    <script>

        $(document).ready(function() {
            // Si  el usuario inicio sesion
            var miUsuario =  "{{get('usuario', '')}}"
            if (!miUsuario || miUsuario.trim().length == 0 || miUsuario == 'None'){
                $('#divInicioSesion').load('/cargarInicioSesion #mostrarInicioSesion');
            }
            else{
                $('#divInicioSesion').load('/cargarCerrarSesion #mostrarCerrarSesion');
                alert(miUsuario);
            }

            $('#menu-toggle').click(function(e) {
                e.preventDefault();
                $('#wrapper').toggleClass('toggled');
            });

        })

        $("#divJumbotron").on("click","#botonRegistrar", function() {
            alert('click en el boton registrar')
            $('#divJumbotron').load('/cargarRegistro #mostrarRegistro');
        });

        $("#divJumbotron").on("click","#btnRegistrarse", function() {
            alert('registro guardado exitosamente')
            $('#divJumbotron').load('/cargarJumbotron #mostrarJumbotron');
        });

    </script>
    <!-- cdn::bootstrap js -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> -->
</html>

