<div id="mostrarJumbotron">
<div class='jumbotron'>
    <br><br><br>
    <div class="container-fluid">
        <div class='col-md-7'>
            <br><br>
            <div class='row'>
                <div class='col-sm-12 text-center'>
                    <h2>II CONGRESO Y III JORNADAS CIENTIFICAS INTEGRALES DEL HOSPITAL COROMOTO</h2>
                </div>
            </div>
            <br><br>
            <div class='row'>
                <div class='col-md-2'>
                </div>
                <div class='col-md-8'>
                    <div class='alert alert-info text-center'>
                        <p>Del 04 al 08 de Agosto de 2015</p>
                        <p>Hotel Venetur</p>
                        <cite>"Salud con Vocaci&oacute;n Socialista"</cite>
                    </div>
                </div>
                <div class='col-md-2'>
                </div>
            </div>
            <br><br>
            <br><br><br><br>
            <div class='row'>
                <div class='col-xs-8'>
                    <span class=''> (0261) 7900331/7900308/7900364</span>
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-8'>
                    <span class='glyphicon glyphicon-envelope'> congresoshospitalcoromoto@gmail.com</span>
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-8'>
                    <span class='glyphicon glyphicon-envelope'> congresoshospitalcoromoto@outlook.com</span>
                </div>
            </div>
        </div>
        
        <!--Parte derecha -->
        <div class='col-md-5'>
            <br>
            <div>
                <div>
                    <h2>Crea tu cuenta</h2>
                </div>
                <div>
                    <h5 class='text-muted'>Inscripci&oacute;n gratuita</h5>
                </div>
                <br>
                <div>
                    <form action='' method='POST'>
                        <div class='form-group'>
                            <div class='row'>
                                <div class='col-md-6'>
                                    <input type='text' class='form-control input-lg' id='txtnombre' placeholder='Nombre'>
                                </div>
                                <div class='col-md-6'>
                                    <input type='text' class='form-control input-lg' id='txtapellido' placeholder='Apellido'>
                                </div>
                            </div>
                        </div>
                        <div class='form-group'>
                            <div class='row'>
                                <div class='col-sm-12'>
                                    <input type='mail' class='form-control input-lg' id='txtcorreo' placeholder='Correo electronico'>
                                </div>
                            </div>
                        </div>
                        <div class='form-group'>
                            <div class='row'>
                                <div class='col-sm-12'>
                                    <input type='mail' class='form-control input-lg' id='txtconfcorreo' placeholder='Confirmar correo electronico'>
                                </div>
                            </div>
                        </div>
                        <div class='form-group'>
                            <div class='row'>
                                <div class='col-md-12'>
                                    <input type='password' class='form-control input-lg' id='newpassword' placeholder='Contraseña nueva'>
                                </div>
                            </div>
                        </div>
                        <div class='title'>
                            <h4><span class='small text-muted'>Cumpleaños</span></h4>
                        </div>
                        <div class='form-group'>
                            <div class='row'>
                                        <div class='col-xs-2 Dcumple'>
                                        <select class='form-control input-sm'>
                                            <option value='0' selected='1'>D&iacute;a</option>
                                            <option value='1'>01</option>
                                            <option value='1'>02</option>
                                            <option value='1'>03</option>
                                            <option value='1'>04</option>
                                            <option value='1'>05</option>
                                            <option value='1'>06</option>
                                            <option value='1'>07</option>
                                            <option value='1'>08</option>
                                            <option value='1'>09</option>
                                            <option value='1'>10</option>
                                            <option value='1'>11</option>
                                            <option value='1'>12</option>
                                            <option value='1'>13</option>
                                            <option value='1'>14</option>
                                            <option value='1'>15</option>
                                            <option value='1'>16</option>
                                            <option value='1'>17</option>
                                            <option value='1'>18</option>
                                            <option value='1'>19</option>
                                            <option value='1'>20</option>
                                            <option value='1'>21</option>
                                            <option value='1'>22</option>
                                            <option value='1'>23</option>
                                            <option value='1'>24</option>
                                            <option value='1'>25</option>
                                            <option value='1'>26</option>
                                            <option value='1'>27</option>
                                            <option value='1'>28</option>
                                            <option value='1'>29</option>
                                            <option value='1'>30</option>
                                            <option value='1'>31</option>
                                        </select>
                                        </div>
                                        <div class='col-xs-2 Mcumple'>
                                            <select class='form-control input-sm'>
                                                <option value='0' selected='1'>Mes</option>
                                                <option value='1'>ENE</option>
                                                <option value='2'>FEB</option>
                                                <option value='3'>MAR</option>
                                                <option value='4'>ABR</option>
                                                <option value='5'>MAY</option>
                                                <option value='6'>JUN</option>
                                                <option value='7'>JUL</option>
                                                <option value='8'>AGO</option>
                                                <option value='9'>SEP</option>
                                                <option value='10'>OCT</option>
                                                <option value='11'>NOV</option>
                                                <option value='12'>DIC</option>
                                            </select>
                                        </div>
                                        <div class='col-xs-2 Acumple'>
                                            <select class='form-control input-sm'>
                                                <option value='0' selected='1'>Año</option>
                                                <option value=''>2015</option>
                                                <option value=''>2014</option>
                                                <option value=''>2013</option>
                                                <option value=''>2012</option>
                                                <option value=''>2011</option>
                                                <option value=''>2010</option>
                                                <option value=''>2009</option>
                                                <option value=''>2008</option>
                                                <option value=''>2007</option>
                                                <option value=''>2006</option>
                                                <option value=''>2005</option>
                                                <option value=''>2004</option>
                                                <option value=''>2003</option>
                                                <option value=''>2002</option>
                                                <option value=''>2001</option>
                                                <option value=''>2000</option>
                                                <option value=''>1999</option>
                                                <option value=''>1998</option>
                                                <option value=''>1997</option>
                                                <option value=''>1996</option>
                                                <option value=''>1995</option>
                                                <option value=''>1994</option>
                                                <option value=''>1993</option>
                                                <option value=''>1992</option>
                                                <option value=''>1991</option>
                                                <option value=''>1990</option>
                                                <option value=''>1989</option>
                                                <option value=''>1988</option>
                                                <option value=''>1987</option>
                                                <option value=''>1986</option>
                                                <option value=''>1985</option>
                                                <option value=''>1984</option>
                                                <option value=''>1983</option>
                                                <option value=''>1982</option>
                                                <option value=''>1981</option>
                                                <option value=''>1980</option>
                                                <option value=''>1979</option>
                                                <option value=''>1978</option>
                                                <option value=''>1977</option>
                                                <option value=''>1976</option>
                                                <option value=''>1975</option>
                                                <option value=''>1974</option>
                                                <option value=''>1973</option>
                                                <option value=''>1972</option>
                                                <option value=''>1971</option>
                                                <option value=''>1970</option>
                                                <option value=''>1969</option>
                                                <option value=''>1968</option>
                                                <option value=''>1967</option>
                                                <option value=''>1966</option>
                                                <option value=''>1965</option>
                                                <option value=''>1964</option>
                                                <option value=''>1963</option>
                                                <option value=''>1962</option>
                                                <option value=''>1961</option>
                                                <option value=''>1960</option>
                                                <option value=''>1959</option>
                                            </select>
                                        </div>
                            </div>
                        </div> <!-- Fin de form-group -->
                        <div class='form-group'>
                            <div class='row'>
                                <div class='col-xs-4 Rmujer'>
                                    <div class='radio'>
                                        <label>
                                            <input type='radio' name='Genero' id='femenino' value='0'>
                                            Mujer
                                        </label>
                                    </div>
                                </div>
                                <div class='col-xs-4 Rhombre'>
                                    <div class='radio'>
                                        <label>
                                            <input type='radio' name='Genero' id='masculino' value='1'>
                                            Hombre
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class='row'>
                                <div class='col-xs-5 text-left'>
                                    <button type='button' class='btn btn-danger btn-md btn-block'>Registrar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</div> <!-- Fin de jumbotron -->
</div> <!-- Fin de Mostrarjumbotron -->
