<div id="mostrarPiePagina">
    <footer class='footer'>
        <div class='container'>
            <p class='text-muted'>&reg; Coordinacion de sistemas - Hospital coromoto  2015.</p>
        </div>
    </footer>
</div>

